<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>KEBAB</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/styles.css}"/>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css'/> 
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.0/fullcalendar.min.js'></script>

</head>
<body>
    <div th:replace="fragments :: header (title=${title}, role=${role})"></div>
    <div class='content'>
        <h1 th:text="${reservable.name}"></h1>
        <div class="reservable-description" th:text="${reservable.info}"></div>
        
        <div class='available-reservations' style='margin-top:10px;'>
            <div id='confirm-container' style='text-align: center;display:none;height:50px;'>
                Do you want to make a reservation on date <span id='confirm-date'></span>?
                <form action="#" th:action="@{/reservable/newreservation}" th:object="${newReservation}" method="post">
                    <input id="start-date" type="hidden" th:field="*{startDate}" value=""/>
                    <input id="end-date" type="hidden" th:field="*{endDate}" value=""/>
                    <input type="hidden" name="reservableId" th:value="${reservableId}"/>
                    <input type="submit" value="Submit" />
                </form>
            </div>
            <div id='calendar'></div>
        </div>
    </div>
<script th:inline="javascript">
$(document).ready(function() {
    
    var reservableId =  /*[[${reservableId}]]*/ 0;
    
    $.ajax({
        url:"/reservationREST/reservables_reservations/" + reservableId,
        success: function(result){
            var event = result;
            $("#calendar").fullCalendar('addEventSource', event );          
        }
    });
    
    $('#calendar').fullCalendar({
        dayClick:function(date, jsEvent, view){
            if(!dayHasEvents(date)){
                var dateString = moment(date).format('DD.MM.YYYY');
                $('#start-date').val(dateString);
                $('#end-date').val(dateString);
                $('#confirm-date').html(dateString);
                $('#confirm-container').show();
 
            }else{
                $('#start-date').val("");
                $('#end-date').val("");
                $('#confirm-date').html("");
                $('#confirm-container').hide();
            }
        }
    });
    
    
    
    //Check if the day clicked already has an event
    function dayHasEvents(date){
        var events = $('#calendar').fullCalendar('clientEvents');
        var hasEvents = false;
        $.each(events,function(index, event){
            if(event.start.isSame(date)){
                hasEvents = true;
            }
        });
        return hasEvents;
    }
});
</script>
</body>
</html>