<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>KEBAB</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>
<body>
    <div th:replace="fragments :: header (title=${title}, role=${role})"></div>
    <div class='content'>

<h1 style='display:inline-block'>Items available for reservation</h1>
        <!--        TODO: näytetään vain jos käyytäjällä on oikeus lisätä uusi-->
        <div class='button' style="float:right;clear:left;" th:if="${role == 'admin'}">
            <span><a href='/reservable/new'>Add new reservable</a></span>
        </div>
        
        <div class="reservable-list" style='clear:right;'>
            <div class="basic-container reservable" th:each="res : ${reservables}">
                <div class='basic-header reservable-name'><a th:href="@{'~/reservable/info/' + ${res.id}}" th:text="${res.name}"></a></div>
                <span class="reservable-info" th:text="${res.info}"></span>
            </div>
        </div>
        
    </div>
    
<script>

</script>
</body>
</html>