<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>KEBAB</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>
<body>
    <div th:replace="fragments :: header (title=${title}, role=${role})"></div>
    <div class='content'>
        <h1 style="text-align: center"> New reservable was added succesfully</h1>
        <div class='button'>
            <span><a href='/reservable/list'>Back</a></span>
        </div>
    </div>
<script>

</script>
</body>
</html>