<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <div th:fragment="header (title, role)" class='header'>
            <h1 th:text="${title}"></h1>
            <form action="/logout" class="logout">
                Logged as:<span th:text="${userName}"></span>
                <input type="submit" value="logout"/>
            </form>
            <div class='navbar'>
                <div class='button' th:classappend="${title=='Home'} ? selected : ''">
                    <span><a href='/home'>Home</a></span>
                </div>
                <div class='button' th:classappend="${title=='Reservations'} ? selected : ''">
                    <span><a href='/reservable/list'>Reservations</a></span>
                </div>
                <div class='button' th:classappend="${title=='Settings'} ? selected : ''">
                    <span><a href='/settings'>Settings</a></span>
                </div>
                <div class='button' th:classappend="${title=='Admin panel'} ? selected : ''"
                     th:if="${role == '[admin]'}">
                    <span><a href='/adminpanel'>Admin panel</a></span>
                </div>
            </div>
        </div>
        <div th:fragment="footer" class='footer'>
            todo
        </div>
    </body>
</html>