<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>KEBAB</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>
<body>
    <div th:replace="fragments :: header (title=${title})"></div>
    <div class='content'>
        <h1>
            username: <span th:text="${userName}"></span>,
            role: <span th:text="${role}"></span>
        </h1>
        <h1>
            reservable: <span th:text="${reservationitem}"></span>,
            owner: <span th:text="${ownername}"></span>
        </h1>
        <h1>
            reservation reservable: <span th:text="${reservation_reservable}"></span>,
            reservation user: <span th:text="${reservation_user}"></span>
        </h1>
        <div class='reserved basic-container'>
            <div class='basic-header'>Items reserved by you:</div>
            <div class='reserved-item'>
                
            </div>
            <div class='reserved-item'>
                
            </div>
            <div class='reserved-item'>
                
            </div>
        </div>

        <div class='reservables basic-container'>
            <div class='basic-header'>Items available for reservation</div>
            <div class='reservable-item'>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>jotain</th>
                            <th>muuta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
<script>
    
</script>
</body>
</html>