<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>
<body>
    <h1>Reservation system</h1>
    <span th:text="${accountCreationSuccess}"></span>
    <span th:if="${param.error}">Username or password is incorrect</span>
    <span th:if="${param.logout}">You have logged out!</span>
    <div>
        <form class="login" th:action="@{/login}" method="post">
            <table>
                <tr>
                    <tr>
                        <td>Username:</td>
                    </tr>
                    <tr>
                        <td><input type="text" name = "username"/></td>
                    </tr>
                </tr>
                <tr>
                    <tr>
                        <td>Password:</td>
                    </tr>
                    <tr>
                        <td><input type="password" name = "password" /></td>
                    </tr>
                </tr>
                <tr>
                    <td id="submit"><button type="Submit">Log in</button></td>
                </tr>
            </table>
            <p>Or would you like to <a href='signup'>sign up now?</a></p>
        </form>
    </div>
    
    <div>
        <p>Here you can reserve items that other people are offering for renting</p>
    </div>
		
</body>
</html>