<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Settings</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <div th:replace="fragments :: header (title=${title}, role=${role})"></div>
        <div>
            <form method="post" th:action="@{/settings}">
                <table>
                    <tr>
                        <td>Name:<input type="text" value="NIMESI"/></td>
                    </tr>
                    <tr>
                        <td>Password:<input type="text" value="SALASANASI"/></td>
                    </tr>
                    <tr>
                        <td><button type="submit" value="Save" th:text="Save"></button></td>
                    </tr>
                </table>
            </form>
            <div>
                Information saved.// TÄMÄ KUN TIEDOT TALLENNETTU
            </div>
        </div>
    </body>
</html>
