<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Settings</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <div th:replace="fragments :: header (title=${title}, role=${role})"></div>
        <div>
            <span th:text="${error}"></span>
            <form method="POST" th:action="@{/settings}">
                <table>
                    <tr><th>Change your password</th></tr>
                    <tr>
                        <td>Password:<input type="password" name="password1" id="password1"/></td>
                    </tr>
                    <tr>
                        <td>And again:<input type="password" name="password2" id="password2"/></td>
                    </tr>
                    <tr>
                        <td><button type="submit" value="Save" th:text="Save"></button></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
